# RD Station configuration
RD_TOKEN=
RD_TASK_DELAY_DAYS= 
MODE=
RD_DEAL_STAGE_ID=

# Internal API configuration
URL_INTERNAL_API=
INTERNAL_API_TOKEN=

# Application mode (development, production, etc.)
MODO=
COMPANY_ID=

# MySQL configuration
DB_HOST_MYSQL=
DB_USER_MYSQL=
DB_PASSWORD_MYSQL=
DB_DATABASE_MYSQL=
DB_PORT_MYSQL=
DB_TABLE_MYSQL=

# EMAIL
TOKEN_EMAIL=
URL_EMAIL_API=